# Raw and processed data (optional)
logging/

# Exclude environment files
.env
.env.local
env/
venv/

# Ignore build directories
build/
dist/

# Bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# System/IDE files
.DS_Store
.vscode/
.idea/
